.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.history {
    margin-top: 10%;
    font-size: 3rem;
}

.home {
    margin-top: 10%;
    font-size: 3rem;
}

.navbar {
    margin: 7px;
}

.navbar1 {
    margin-top: 5%;
}
